<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

<style>
    #map-canvas, body, html {
        height: 100%;
    }
</style>

<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtdqGD7EP6P93q36qGHZgjA2N7xJKxQtM">
</script>

<script>
    function initialize() {
        var mapOptions = {
            zoom: 5,
            center: new google.maps.LatLng(40,-117),
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        var map = new google.maps.Map(document.getElementById('map-canvas'),  mapOptions);
        var arr = new Array();
        var polygons = [];
        var bounds = new google.maps.LatLngBounds();

        var Httpreq = new XMLHttpRequest(); // a new request
        Httpreq.open("GET","/geofencing/api/search-places?coordinates={{coordinates}}",false);
        Httpreq.send(null);
        polygons = JSON.parse(Httpreq.responseText);
        
        var coordinates = "{{coordinates}}";
        if (coordinates !== "None") {
            let splittedCoordinates = coordinates.split(",");
            let lat = parseFloat(splittedCoordinates[0]);
            let long = parseFloat(splittedCoordinates[1]);
            var myLatLng = {lat: lat, lng: long};
            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                title: 'Here I am!'
            });
        }

        var ulist = document.getElementById("names");
        var colors = [
            "#001f3f",
            "#0074D9",
            "#7FDBFF",
            "#39CCCC",
            "#3D9970",
            "#2ECC40",
            "#01FF70",
            "#FFDC00",
            "#FF851B",
            "#FF4136",
            "#85144b",
            "#F012BE",
            "#B10DC9",
            "#fdadc7",
            "#993399",
            "#ea4c88",
            "#ffa258",
            "#ff7777",
            "#65c0ba",
        ];
        for (var i = 0; i < polygons.length; i++) {
            let color = colors[Math.floor(Math.random()*colors.length)];
            colors = colors.filter(c => {console.log(c, c != color); return c != color});
            if (polygons[i].name) {
                let elem = document.createElement("li");
                elem.appendChild(document.createTextNode(polygons[i].name));
                elem.setAttribute("style", "color: " + color);
                ulist.appendChild(elem);
            }
            arr = [];
            if (!polygons[i].location) {
                continue;
            }
            var coordinates = polygons[i].location.coordinates[0];
            for (var j=0; j < coordinates.length; j++) {
                arr.push( new google.maps.LatLng(
                    parseFloat(coordinates[j][1]),
                    parseFloat(coordinates[j][0])
                ));
                bounds.extend(arr[arr.length-1])
            }
            polygons.push(new google.maps.Polygon({
                paths: arr,
                strokeColor: color,
                strokeOpacity: 0.8,
                strokeWeight: 2,
                fillColor: color,
                fillOpacity: 0.35
            }));
            polygons[polygons.length-1].setMap(map);
        }
        
        map.fitBounds(bounds);
    }

    google.maps.event.addDomListener(window, 'load', initialize);
</script>

<div class="container">
    <div class="row">
        <div class="col col-10">
            <div id="map-canvas"></div>
        </div>
        <div class="col-2">
            <ul id="names">
            </ul>
        </div>
    </div>
</div>